/*
* @Author: mxm
* @Date:   2017-12-08 23:39:50
* @Last Modified by:   mxm
* @Last Modified time: 2018-01-06 10:23:44
*/

.keywords-list{
	float: left;
	width: 240px;
	height: 350px;
	padding: 10px 0;
	margin-right: 10px;
	background: #666;
	color: #fff;
}
.keywords-list .keywords-item{
	padding-left: 10px;
	height: 35px;
	line-height: 35px;
	font-size: 14px;
}
.keywords-list .keywords-item .link{
	color: #fff;
	margin-right: 6px;
}
.keywords-list .keywords-item .link:hover{
	color: #c60023;
}
.keywords-list .keywords-item:hover{
	background: #999;
}